@font-face {
    font-family: 'intro_condblack_free';
    src: url('../fonts/intro_cond_black_free-webfont.woff2') format('woff2'),
         url('../fonts/intro_cond_black_free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular_0-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	margin: 0px;
}

.page{
	height: 100vh;
}

#info{
	background-color: #387d5d;	
	position: relative;
	height: 65vh;
	min-height: 650px;
	min-width: 350px;
	background-image: url(../images/polish.png), url(../images/pencil.png);
	background-position: 5% 50%, 95% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: 15% auto;
}


#intro{
	background-color: #f4ead3; 
}

#types{
	background-color: #f9a63b; 
}

#length{
	background-color: #f4ead3; 
}

#applications{
	background-color: #162c55;
}


/*FIRST PAGE-SPECIFIC TEXT RULES*/
#text_container{
    padding-top: 2em;
}

#text_container p:first-child{
	color: #efe3c8;
}

#text_container p:nth-child(2){
	color: #69a189;
}

#text_container p:last-child{
	color: #faa93c;
	font-size: 9em;
	margin: 0em;
	line-height: 1;
	margin: 0em;
	position: relative;
}

#text_container p:last-child:hover{
	z-index: 1;
}



/* GENERAL TEXT RULES*/
.title_text{
	font-family: 'intro_condblack_free';
	text-align: center;
	font-size: 3.5em;
	margin-bottom: 0em;
	
}

.regular_text{
	font-family: 'montserratregular';
	text-align: center;
	font-size: 0.8em;
	margin: 2em;

}

/*FIRST PAGE IMAGE RULES*/
#icon{
	position:fixed;
	right: 2em;
	top: 3em;
	display:block;
}

#cassette{
	display:block;
 	left: 0px;
 	right: 0px;
    text-align: center;
    bottom: -20%;
    position: absolute;
}


@media screen and (max-width: 600px) {
	/*FIRST PAGE-SPECIFIC TEXT RULES*/
	#text_container p:nth-child(3){
		font-size: 5em;
	}
	
	/*GENERAL TEXT RULES*/
    .regular_text{
		font-size: 0.8em;
		padding-left: 5em;
		padding-right: 5em;
	}

	.title_text{
		font-size: 2em;
	}	
	
	#icon{
		display:block;
    	margin-left: auto;
    	margin-right: auto;
    	padding-top: 2em;
    	position:static;
	}
	
	/*FIRST PAGE IMAGE RULES*/
	#cassette img{
		width: 80%;
	}

	#cassette{
		 bottom: 0%;
	}



}



