@font-face {
    font-family: 'intro_condblack_free';
    src: url('../fonts/intro_cond_black_free-webfont.woff2') format('woff2'),
         url('../fonts/intro_cond_black_free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular_0-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	margin: 0px;
}

.page{
	height: 100vh;
	min-height: 700px;
	min-width: 350px;
}

#info{
	background-color: #387d5d;	
	position: relative;
	height: 70vh;
	
	background-image: url(../images/polish.png), url(../images/pencil.png);
	background-position: 5% 50%, 95% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: 15% auto;
}


#intro{
	background-color: #f4ead3;
	height: 135vh;
}

#types{
	background-color: #f9a63b; 
}

#length{
	background-color: #f4ead3; 
}

#applications{
	background-color: #162c55;
}


/*FIRST PAGE-SPECIFIC TEXT RULES*/
#text_container{
    padding-top: 2em;
}

#text_container p:first-child{
	color: #efe3c8;
}

#text_container p:nth-child(2){
	color: #69a189;
}

#text_container p:last-child{
	color: #faa93c;
	font-size: 9em;
	margin: 0em;
	line-height: 1;
	margin: 0em;
	position: relative;
	padding-top: 0.3em;
}

#text_container p:last-child:hover{
	z-index: 1;
}


/* GENERAL TEXT RULES*/
.title_text{
	font-family: 'intro_condblack_free';
	text-align: center;
	font-size: 3.5em;
	/*margin-bottom: 1em;*/
	margin-top: 0em;
	
}

.regular_text{
	font-family: 'montserratregular';
	text-align: center;
	font-size: 0.8em;
	/*margin: 2em;*/

}

#text_container .title_text{
	margin-bottom: 1em;
}

/*FIRST PAGE IMAGE RULES*/
#icon{
	position:absolute;
	right: 2em;
	top: 3em;
	display:block;
}

#cassette{
	display:block;
 	left: 0px;
 	right: 0px;
    text-align: center;
    bottom: -15%;
    position: absolute;
}

/*SECONG PAGE RULES*/

/*TITLE RULES*/
#intro .title{
	position: relative;
	line-height: 1;
	text-align: center;
}

#intro .title div:first-child{
	font-size: 5em;
	line-height: 0.9;
	color: #162c55;	
	position:absolute;
	bottom:-10px;
}

.left{	
	left: 5%;
}

#intro .title div:first-child img{
	display: block;
}

#intro .title div:nth-child(2){
	color: #978272;
}


/*IMAGE RULES*/

#intro_content{
	margin-top: 10%;
	position:relative;
}

#visual_content > div:first-child{
	width: 40%;
	border-color: #f9a63b;
	border-style: solid;
	border-width: 0.4em;
	margin:auto;
	position:relative;	
	padding: 10px;	
	min-width: 250px;
}

#background{
	background: url(../images/oldman.png) no-repeat;
	width: 100%;
	min-height: 400px;
    padding-left: 2em;
    max-height: 420px;
    background-size: cover;
}


#visual_content .regular_text{
    position: relative;
    right: -40%;
	background-color: #f9a63b;	
	width: 35%;
	height: 30%;
	display: flex;
	align-items: center;
	margin-top: -8%;
	padding: 3em;
	word-wrap: break-word;
	color: white;
	margin-bottom: 10%;
	line-height: 2;
}

#visual_content div:nth-child(3){
	padding: 1em;
	background-color: #162c55;
	position: absolute;
	width: 5%;
	margin-top: -12%;
    left: 65%;
}

#visual_content div:nth-child(3) img{
	display: block;
	margin: 0%;
}

@media screen and (max-width: 700px) {
	/*FIRST PAGE-SPECIFIC TEXT RULES*/
	#text_container p:last-child{
		font-size: 3.5em;
		padding-top: 0em;
	}
	
	/*GENERAL TEXT RULES*/
    .regular_text{
		font-size: 0.8em;
		padding-left: 5em;
		padding-right: 5em;
	}

	.title_text{
		font-size: 1.7em;
	}	
	
	#icon{
		display:block;
    	margin-left: auto;
    	margin-right: auto;
    	padding-top: 2em;
    	position:static;
	}
	
	/*FIRST PAGE IMAGE RULES*/
	#cassette img{
		width: 60%;
	}

	#cassette{
		 bottom: 15%;
	}
	

	/*SECOND PAGE RULES*/

	#intro .title div:first-child{
		position:relative;	
		left:0%;
		padding-bottom: 5%;
		padding-top: 5%;
		text-align: center;
	}
	#intro .title div:first-child img{
		display:none;
	}

	#intro .title div:nth-child(2){
		display: block;
	}

	#intro .title {
		padding-top: 0%;
	}




}



